.cta {
    padding: 3.5rem 0;
    text-align: center;

    @media only screen and (max-width: 56.25em) {
        padding: 2.5rem 0;        
    }

    &__book-now {
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: 300;
        margin-bottom: 2.5rem;
    }
}