.gallery {
    display: flex;

    &__photo {
        width: 100%;
        display: block;
    }
}

.overview {
    display: flex;
    align-items: center;
    border-bottom:  .1rem solid $grey-light-2;

    &__heading {
        font-size: 2.7rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: .1rem;
        padding: 1.5rem 3rem;

        @media only screen and (max-width: 37.5em) {
            font-size: 1.8rem;
            padding: 1.25rem 2rem;
        }
    }

    &__stars {
        margin-right: auto;
        display: flex;
    }

    &__icon-star,
    &__icon-location {
        width: 1.75rem;
        height: 1.75rem;
        fill: $primary;
    }

    &__location {
        font-size: 1.5rem;
        display: flex;
        vertical-align: center;

    }

    &__icon-location {
        margin-right: .5rem;
    }

    &__rating {
        background-color: $primary;
        margin-left: 3rem;
        color: $white;
        padding: 0 2.25rem;
        align-self: stretch;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @media only screen and (max-width: 37.5em) {
            padding: 0 1.5rem;
        }
    }

    &__rating-average {
        font-size: 2.5rem;
        font-weight: 300;
        margin-block-end: -.3rem;

        @media only screen and (max-width: 37.5em) {
            font-size: 1.8rem;
        }
    }

    &__rating-count {
        font-size: 1rem;
        text-transform: uppercase;

        @media only screen and (max-width: 37.5em) {
            font-size: .5rem;
        }
    }
}